@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://media.giphy.com/media/7fhgOJDYLnywgCNK4u/giphy.gif') center/cover no-repeat; 
    font-family: 'Playfair Display', serif;
    flex-direction: column;
    backdrop-filter: blur(10px); 
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #FFB6C1;
    font-weight: 600;
    text-shadow: 2px 2px 15px rgba(255, 182, 193, 0.8);
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}
